<p>
  <label for="settings_msteams_url">Microsoft Teams Webhook URL</label>
  <input type="text" id="settings_msteams_url" size=80 value="<%= settings['msteams_url'] %>" name="settings[msteams_url]" />
</p>

<p>
  Generate an "Incoming WebHook" URL for your Channel. This URL can be changed on a per-project basis by creating a <a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Teams URL" (without quotes).
</p>

<p>
  <label for="settings_display_watchers">Display Watchers?</label>
  <select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
    <option value="yes">Yes</option>
    <option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
  </select>
</p>

<p>
  <label for="settings_post_updates">Post Issue Updates?</label>
  <input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
  <label for="settings_post_wiki_updates">Post Wiki Updates?</label>
  <input type="checkbox" id="settings_post_wiki_updates" value="1" name="settings[post_wiki_updates]" <%= settings['post_wiki_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>
